<table class="table">
	<thead>
		<tr>
			<th>Assunto</th>
			<th>Local entrega</th>
			<th>Data entrega</th>
		</tr>
	</thead>
	<tbody>
		<% @user.reqmaterials.each do |reqmaterial| %>
		<tr>
			<td><%= link_to reqmaterial.assunto, user_reqmaterial_path(@user, reqmaterial) %></td>
			<td><%= reqmaterial.local_entrega %></td>
			<td><%= reqmaterial.data_entrega %></td>
		</tr>
		<% end %>
	</tbody>
</table>