<% provide(:title, "Destinos") %>

<h1>Destinos</h1>
<div class="span6 offset3">
	<%= link_to "Novo destino", new_destination_path, class: 'btn btn-primary' %>
	<table class="table">
		<thead>
			<tr>
				<th>Destino</th>
			</tr>
		</thead>
		<tbody>
			<% @destinations.each do |destination| %>
				<tr>
					<td><%= link_to destination.destino, edit_destination_path(destination) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>