<table class="table">
	<thead>
		<tr>
			<th>Pessoa</th>
			<th>Cargo</th>
			<th>Unidade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @service.bosses.each do |boss| %>
			<tr>
				<td><%= boss.user.nome %></td>
				<td><%= boss.title %></td>
				<td><%= boss.ulsneunit.nome %></td>
				<td><%= link_to "Eliminar", [boss.service, boss], method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn btn-link' %></td>
			</tr>
		<% end %>
	</tbody>
</table>